## Preprocessing

In [1]:
# !pip install keras-tuner

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: keras-tuner in /usr/local/lib/python3.7/dist-packages (1.1.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (1.21.6)
Requirement already satisfied: kt-legacy in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (1.0.4)
Requirement already satisfied: tensorboard in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (2.8.0)
Requirement already satisfied: ipython in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (7.9.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (21.3)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (2.23.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (57.4.0)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (5.1.1)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (4.4.2)
Requirement already satisfied: backcall in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (0.2.0)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (2.6.1)
Requirement already satisfied: jedi>=0.10 in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (0.18.1)
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (2.0.10)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (0.7.5)
Requirement already satisfied: pexpect in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (4.8.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /usr/local/lib/python3.7/dist-packages (from jedi>=0.10->ipython->keras-tuner) (0.8.3)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython->keras-tuner) (0.2.5)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython->keras-tuner) (1.15.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->keras-tuner) (3.0.9)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.7/dist-packages (from pexpect->ipython->keras-tuner) (0.7.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->keras-tuner) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->keras-tuner) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->keras-tuner) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->keras-tuner) (2022.6.15)
Requirement already satisfied: grpcio>=1.24.3 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (1.47.0)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (0.6.1)
Requirement already satisfied: werkzeug>=0.11.15 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (1.0.1)
Requirement already satisfied: protobuf>=3.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (3.17.3)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (3.4.1)
Requirement already satisfied: google-auth<3,>=1.6.3 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (1.35.0)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (0.4.6)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (1.8.1)
Requirement already satisfied: wheel>=0.26 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (0.37.1)
Requirement already satisfied: absl-py>=0.4 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (1.2.0)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard->keras-tuner) (4.2.4)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard->keras-tuner) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard->keras-tuner) (4.9)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard->keras-tuner) (1.3.1)
Requirement already satisfied: importlib-metadata>=4.4 in /usr/local/lib/python3.7/dist-packages (from markdown>=2.6.8->tensorboard->keras-tuner) (4.12.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard->keras-tuner) (3.8.1)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard->keras-tuner) (4.1.1)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.7/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard->keras-tuner) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard->keras-tuner) (3.2.0)

In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Dropping the non-beneficial ID columns, 'EIN' and 'NAME'.
clean_data1 = application_df.drop(["EIN","NAME"], axis = 1)
clean_data1.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Determining the number of unique values in each column.
clean_data1.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [17]:
# Looking at APPLICATION_TYPE value counts for binning
clean_data1["APPLICATION_TYPE"].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [18]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE
counter = clean_data1["APPLICATION_TYPE"].value_counts()
application_types_to_replace = counter[counter.lt(20)].index

# Replace in dataframe
for app in application_types_to_replace:
    clean_data1['APPLICATION_TYPE'] = clean_data1['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
clean_data1['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [19]:
# Look at CLASSIFICATION value counts for binning
#  YOUR CODE GOES HERE
clean_data1["CLASSIFICATION"].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
Other      118
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C2300       32
C7200       32
C1240       30
C8000       20
C7120       18
C1500       16
C6000       15
C1800       15
C1250       14
C8200       11
Name: CLASSIFICATION, dtype: int64

In [20]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE
C_counter = clean_data1["CLASSIFICATION"].value_counts()
C_counter[C_counter.gt(1)]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
Other      118
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C2300       32
C7200       32
C1240       30
C8000       20
C7120       18
C1500       16
C6000       15
C1800       15
C1250       14
C8200       11
Name: CLASSIFICATION, dtype: int64

In [21]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE
classifications_to_replace = C_counter[C_counter.lt(11)].index

# Replace in dataframe
for cls in classifications_to_replace:
    clean_data1['CLASSIFICATION'] = clean_data1['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
clean_data1['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
Other      118
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C2300       32
C7200       32
C1240       30
C8000       20
C7120       18
C1500       16
C6000       15
C1800       15
C1250       14
C8200       11
Name: CLASSIFICATION, dtype: int64

In [22]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE
clean_data2 = pd.get_dummies(clean_data1)
clean_data2

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [23]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
y = clean_data2["IS_SUCCESSFUL"].values
X = clean_data2.drop(["STATUS", "IS_SUCCESSFUL"],1).values

# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=45)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  after removing the cwd from sys.path.

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [24]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  8
hidden_nodes_layer2 = 3
# hidden_nodes_layer3 = 4

nn = tf.keras.models.Sequential()

# First hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="linear"))

# Output layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_4 (Dense)             (None, 8)                 520

 dense_5 (Dense)             (None, 3)                 27

 dense_6 (Dense)             (None, 1)                 4

=================================================================
Total params: 551
Trainable params: 551
Non-trainable params: 0
_________________________________________________________________

In [25]:
# Compile the model
#  YOUR CODE GOES HERE
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [26]:
# Train the model
#  YOUR CODE GOES HERE
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6233 - accuracy: 0.6957
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5637 - accuracy: 0.7258
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5584 - accuracy: 0.7292
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5558 - accuracy: 0.7294
Epoch 5/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5542 - accuracy: 0.7294
Epoch 6/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5531 - accuracy: 0.7308
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5521 - accuracy: 0.7306
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5511 - accuracy: 0.7301
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5508 - accuracy: 0.7308
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5503 - accuracy: 0.7310
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5498 - accuracy: 0.7317
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5495 - accuracy: 0.7308
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5491 - accuracy: 0.7314
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5489 - accuracy: 0.7310
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5485 - accuracy: 0.7314
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5485 - accuracy: 0.7315
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5483 - accuracy: 0.7318
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5480 - accuracy: 0.7321
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5479 - accuracy: 0.7318
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5478 - accuracy: 0.7317
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5473 - accuracy: 0.7324
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5472 - accuracy: 0.7329
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5471 - accuracy: 0.7325
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5471 - accuracy: 0.7323
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5468 - accuracy: 0.7324
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5467 - accuracy: 0.7318
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5461 - accuracy: 0.7327
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5459 - accuracy: 0.7332
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5461 - accuracy: 0.7327
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5455 - accuracy: 0.7327
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5457 - accuracy: 0.7318
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5453 - accuracy: 0.7316
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5455 - accuracy: 0.7325
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5452 - accuracy: 0.7324
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5455 - accuracy: 0.7329
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5454 - accuracy: 0.7317
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5450 - accuracy: 0.7330
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5449 - accuracy: 0.7326
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5448 - accuracy: 0.7329
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5450 - accuracy: 0.7332
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5446 - accuracy: 0.7322
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5451 - accuracy: 0.7323
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5449 - accuracy: 0.7323
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5443 - accuracy: 0.7328
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5445 - accuracy: 0.7325
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5448 - accuracy: 0.7329
Epoch 47/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5446 - accuracy: 0.7328
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5447 - accuracy: 0.7322
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5446 - accuracy: 0.7324
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5442 - accuracy: 0.7326
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5443 - accuracy: 0.7329
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5440 - accuracy: 0.7332
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5440 - accuracy: 0.7332
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5442 - accuracy: 0.7327
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5442 - accuracy: 0.7329
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5440 - accuracy: 0.7329
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5440 - accuracy: 0.7336
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5441 - accuracy: 0.7332
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5440 - accuracy: 0.7324
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5437 - accuracy: 0.7334
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5443 - accuracy: 0.7330
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5436 - accuracy: 0.7328
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5438 - accuracy: 0.7329
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5435 - accuracy: 0.7328
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5436 - accuracy: 0.7331
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5437 - accuracy: 0.7335
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5433 - accuracy: 0.7337
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5434 - accuracy: 0.7332
Epoch 69/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5436 - accuracy: 0.7338
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5433 - accuracy: 0.7335
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5434 - accuracy: 0.7338
Epoch 72/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5432 - accuracy: 0.7334
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5434 - accuracy: 0.7330
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5434 - accuracy: 0.7332
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5432 - accuracy: 0.7342
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5431 - accuracy: 0.7336
Epoch 77/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5431 - accuracy: 0.7338
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5432 - accuracy: 0.7335
Epoch 79/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5433 - accuracy: 0.7329
Epoch 80/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5429 - accuracy: 0.7342
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5431 - accuracy: 0.7338
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5429 - accuracy: 0.7335
Epoch 83/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5425 - accuracy: 0.7338
Epoch 84/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5424 - accuracy: 0.7334
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5431 - accuracy: 0.7337
Epoch 86/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5430 - accuracy: 0.7340
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5426 - accuracy: 0.7345
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5428 - accuracy: 0.7333
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5426 - accuracy: 0.7335
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5429 - accuracy: 0.7340
Epoch 91/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5425 - accuracy: 0.7329
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5427 - accuracy: 0.7341
Epoch 93/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5426 - accuracy: 0.7340
Epoch 94/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5428 - accuracy: 0.7344
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5424 - accuracy: 0.7348
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5424 - accuracy: 0.7348
Epoch 97/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5423 - accuracy: 0.7331
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5423 - accuracy: 0.7347
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5423 - accuracy: 0.7347
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5424 - accuracy: 0.7348

In [27]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5546 - accuracy: 0.7240 - 444ms/epoch - 2ms/step
Loss: 0.5546458959579468, Accuracy: 0.7239649891853333

In [28]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE
fit_model.save('C:\Users\Chris Partee\Desktop\GT_Course_Material\Working\Charity_Fundin_Predictor\Saved_Models\AlphabetSoupCharity_Optimzation.h5')

SyntaxError: ignored